* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #fff;
}

header {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  padding: 0 2rem;
  background-color: #fff;
  color: #333;
  top: 0;
}

nav a {
  font-size: 18px;
  margin: 0 2rem;
  color: #333;
  text-decoration: none;
  text-decoration: none;
}
nav a:hover {
  color: black;
  transition: all ease-in;
}
nav button {
  margin-left: 180px;
  right: 0;
  background-color: #04ddb2;
  color: #fff; /* 
  transition: all 300ms ease-in; */
}
nav button:hover {
  transition: all 100ms ease-in;
  transform: scale(1.1);
}

a {
  text-decoration: none;
  color: #333;
}

footer {
  margin-top: 50px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
footer section {
  display: flex;
  flex-direction: column;
}
footer section li {
  text-decoration: none;
}
/* @media (max-width: 1024px) {
  header nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: brown;
    transition: 1s;
    transform: translate(-100vh);
  }
} */

button {
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #04ddb2;
  color: white;
  border-radius: 30px;
  cursor: pointer;
  border: none;
  outline: none;
}

li {
  text-decoration: none;
}
button:hover {
  transition: all 200ms ease-in;
  transform: scale(1.1);
}

.grey {
  color: #333;
}
.green {
  color: #04ddb2;
}
.paddings {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

/*
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} 
.flexCenter {
  display: flex;
  /* row-gap: 2rem; */ /* 
  justify-content: center; 
  align-items: center;
  flex-wrap: wrap;
}
.paddings {
  padding: 1.5rem;
}
*/
